:root{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control{
    margin-top: 20px;
}
.container{
    display: grid;
    width: 50vw;
    height: 50vw;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    outline: 2px solid black;
}
.grid{
    outline: 1px solid grey;
}
.black{

}
.random{

}
.eraser{
    
}
@media screen and (max-width: 1200px){
    .container{
        width: 70vw;
        height: 70vw;
    }
}